<div class="jumbotron">
    <h1>Standard B2B APIs</h1>
    <p class="lead">Rest APIs Service for Bank & 3rd Parties Integration</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Schools Systems</h2>
    </div>
    <div class="col-md-4">
        <h2>ERP Systems</h2>
    </div>
    <div class="col-md-4">
        <h2>Web Portals</h2>
    </div>
</div>
